<!DOCTYPE html>
<html lang="en" ng-app="calcentral">
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title ng-bind="title">Calcentral</title>

  <meta name="description" content="CalCentral is a new resource for the UC Berkeley community." />

  <link rel="icon" href="/assets/favicon.png" type="image/png" />

  <link rel="shortcut icon" href="/assets/favicon.ico" />

  <!-- Included CSS Files -->
  <%= stylesheet_link_tag "application" %>

  <!-- Included JS Files  -->
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>

<body class="cc-page-index">

    <header class="row">
      <h1>Calcentral</h1>
      <nav class="cc-launcher cc-right">
        <div class="cc-left cc-launcher-icons">
          <a href="http://bmail.berkeley.edu" class="ir cc-left cc-icon cc-icon-mail" title="bMail">bMail</a>
          <a href="http://bcal.berkeley.edu" class="ir cc-left cc-icon cc-icon-calendar" title="bCal">bCal</a>
          <a href="https://drive.google.com/a/berkeley.edu/" class="ir cc-left cc-icon cc-icon-drive" title="bDrive">bDrive</a>
        </div>
        <a href="/dashboard" class="cc-launcher-info cc-right" aria-haspopup="true">Vivienne Tweney <span class="cc-launcher-icon-dropdown">&#x25BC;<span></a>
      </nav>
    </header>

    <!-- Top Navbar -->
    <div class="row">
      <ul class="nav-bar">
        <li class="active"><a href="/">Splash</a></li>
        <li><a href="/dashboard">My Dashboard</a></li>
        <li><a href="/secure/campus">My Campus</a></li>
      </ul>
    </div>

      <div class="row cc-container-main" role="main">
        <%= yield %>
      </div>

    <footer class="row">
      <div class="cc-left">Copyright © 2012 The Regents of the University of California</div>
      <a href="#">Help</a>
      <a href="http://ets.berkeley.edu/calcentral-feedback">Feedback</a>
    </footer>
  </body>
</html>
